
    
    <!-- Clear -->
    <div class="clear margin5"></div>
    
    <!-- Blog List -->
    <div class="grid_16 blog-list margin">
        
        <!-- #1 -->
		<script>
        $(function(){						  
        $('#1').bxSlider({
        mode: 'fade',
        captions: false,
        auto: false,
        controls: true
        });
        });	
        </script>
        <div class="bloglisting2">
        	<h1>Contact Title is Here</h1>
            <h2>Posted by <a href="#">admin</a>, in <a href="#">news</a> categories, <a href="#">141</a> comments</h2>
        </div>
        
        <!-- Clear -->
    	<div class="clear"></div>
    
        <div class="single-post">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at augue sit amet justo viverra sollicitudin. Integer pulvinar quam velit. Vivamus purus diam, iaculis in condimentum eget, consectetur ut odio. Etiam dapibus malesuada neque nec commodo. Cras tempor pulvinar interdum. Pellentesque dictum, orci auctor egestas malesuada, est lorem tempus erat, eu varius eros dolor in lectus. Sed in lacus arcu. In nisi augue, pulvinar eget lobortis commodo, mollis a metus. Aliquam elit neque, pharetra sit amet malesuada a, vestibulum vitae nisl. Cras ante ligula, ullamcorper vitae ultricies non, viverra vitae metus. Vivamus hendrerit volutpat venenatis.</p>
            
            <p>Suspendisse fermentum fermentum faucibus. Morbi scelerisque accumsan cursus. In at arcu sapien, et luctus sapien. Aenean eleifend quam et nisi malesuada vestibulum. Nam bibendum vehicula pretium. Vivamus tincidunt elit quis lacus euismod ut eleifend massa pharetra. Suspendisse semper lorem eget magna semper bibendum. Donec sem urna, semper eu commodo commodo, mattis a enim. Phasellus facilisis massa aliquet massa mattis aliquet. Proin a magna lectus, ut sodales metus. Fusce lacus felis, lacinia sit amet egestas ac, tristique in lectus. Sed pellentesque, dui quis cursus consectetur, velit sapien tempus turpis, a auctor quam risus nec arcu. Aliquam commodo volutpat eleifend. Mauris in elit augue, at molestie velit. Aliquam erat volutpat. Vestibulum quis ante massa, vel sagittis felis.</p>
            
        </div>
        
    </div>
    
    <!-- Clear-->
    <div class="clear"></div>
    
    <!-- Advert Start -->
    <div id="advert" class="grid_16 advert">
    	<div id="advertback"></div>
        <div class="margin3 fright"><a href="#" class="minibutton margin8">Prev Page</a> <a href="#" class="minibutton">Next Page</a></div>
    </div>
    <!-- Advert End -->
    
    <!-- Clear-->
    <div class="clear"></div>
    
    <!-- What Says Our Company -->
    <div class="grid_8 margin leftsays">
    	<div id="full-bottom2"></div>
        <div class="title-2cloumb">
        	<h1>The City Adress Detail</h1>
        	<p>Lorem ipsum is simply data text</p>
        </div>
        <div class="leftcloumb-list">
        	<ul>
            	<li><img src="image/icon/a1.png" alt="" class="leftcloumb-list-img"> <h1>Adress:</h1><p>In consequat velit tempor dui dapibus mollis. Morbi a risus felis. Nulla non odio nunc, sit amet.</p></li>
                <li><img src="image/icon/a2.png" alt="" class="leftcloumb-list-img"> <h1>Telephone:</h1><p>In consequat velit tempor dui dapibus mollis. Morbi a risus felis. Nulla non odio nunc, sit amet.</p></li>
                <li><img src="image/icon/a3.png" alt="" class="leftcloumb-list-img"> <h1>E-Mail</h1><p>In consequat velit tempor dui dapibus mollis. Morbi a risus felis. Nulla non odio nunc, sit amet.</p></li>
            </ul>
        </div>    
    </div>
    <!-- What Says Our Company End -->
    
    <!-- Bigg Boss -->
    <div class="grid_8 margin">
    	<div class="title-2cloumb">
        	<h1>Contact Form</h1>
        	<p>Lorem ipsum is simply printing swith data text</p>
        </div>
        <div class="comment-form margin">
            <fieldset><input name="Name" type="text" value="Name:" onfocus="if(this.value=='Name:')this.value='';" onblur=	"if(this.value=='')this.value='Name:';"/></fieldset>  
            <fieldset><input name="Mail" type="text" value="E-Mail:" onfocus="if(this.value=='E-Mail:')this.value='';" onblur=	"if(this.value=='')this.value='E-Mail:';"/></fieldset>
            <fieldset><input name="Web" type="text" value="Web:" onfocus="if(this.value=='Web:')this.value='';" onblur=	"if(this.value=='')this.value='Web:';"/></fieldset>
            <fieldset><textarea name="Message" onfocus="if(this.value=='Message:')this.value='';" onblur=	"if(this.value=='')this.value='Message:';">Message:</textarea></fieldset>
            <div class="fright"><fieldset><input type="submit" value="Send" /></fieldset></div>
        </div>
    </div>
    <!-- Bigg Boss End -->
    
    <!-- Clear-->
    <div class="clear"></div>
    
    <div id="company-logo" class="grid_16">
    	<div id="tabback"></div>
        <div id="tabmenuback"></div>
        <div id="logo-list">
            <script src="js/portfolio.js"></script>
            <div id="ps_slider" class="ps_slider" style="margin-top:32px;">
            <a class="prev disabled"></a>
            <a class="next disabled"></a>
            <div id="ps_albums" class="logolist">
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_01.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_02.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_03.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_04.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_05.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_06.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_07.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_08.jpeg" class="logolist-img" alt=""></a>
                </div>
                <div class="ps_album">
                    <a class="team" href="image/post/bigimage.png" title="LOGO NAME </BR> Description: Lorem ipsum is simply dummy data text printing."><img src="image/post/logo_09.jpeg" class="logolist-img" alt=""></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <!-- Clear-->
	<div class="clear"></div> 